{% extends 'base_page.html' %}

{% load static %}

{% block title %} <title> MovWave | {{series.title}} </title> {% endblock %}
{% block head %} 
    <link rel="stylesheet" href="{% static 'css/movie.css' %}">
    <link rel="stylesheet" href="{% static 'css/series.css' %}">
{% endblock %}

{% block content %} 
    <div class="blackoverlay"></div>
    <div class="video-wrapper">
        <video class="video-player" id="video-player" controls muted="muted">                
            <source src="{% url 'series_app.series_stream' source=series_resource.source %}" type="video/mp4" />
        </video>
    </div>
    <div class="button-wrapper">
        <div>
            <a class="download-button" href="{% url 'series_app.series_download' source=series_resource.source %}"> Download </a>
            <a class="upload-button" href="{% url 'series_app.series_upload' id=series.id %}"> Upload </a>
        </div>
        <div>
        {% for item in resolutions %}
            {% if item.resolution == series_resource.resolution%}
                <a class="current-resolution-button" href="{% url 'series_app.series' id=series.id current_season=current_season.season current_episode=current_episode.episode resolution=item.resolution %}"> {{item.resolution}} </a>
            {% else %}
                <a class="available-resolution-button" href="{% url 'series_app.series' id=series.id current_season=current_season.season current_episode=current_episode.episode resolution=item.resolution %}"> {{item.resolution}} </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="season-wrapper">
        <div>
            <h2> Seasons </h2>
        </div>
        <div class="seasons">
            {% for ss in seasons %}
                {% if ss.season == current_season.season %}
                    <a class="season current-season" href="{% url 'series_app.series' id=series.id current_season=ss.season %}"> {{ss.season}} </a>
                {% else %}
                    <a class="season" href="{% url 'series_app.series' id=series.id current_season=ss.season %}"> {{ss.season}} </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="season-wrapper">
        <div>
            <h2> Episodes </h2>
        </div>
        <div class="seasons">
            {% for ep in episodes %}
                {% if ep.episode == current_episode.episode %}
                    <a class="season current-season" href="{% url 'series_app.series' id=series.id current_season=current_season.season current_episode=ep.episode %}"> {{ep.episode}} </a>
                {% else %}
                    <a class="season" href="{% url 'series_app.series' id=series.id id=series.id current_season=current_season.season current_episode=ep.episode %}"> {{ep.episode}} </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="metadata-wrapper">
        <div class="poster-wrapper">
            <img src="{{series.poster}}">
        </div>
        <div class="description-wrapper">
            <div class="header-wrapper">
                <h1> {{series.title}} ({{series.releaseDate.year}}) </h1>
                {% if user.is_authenticated %}
                    {% if bookmarked %}
                        <form method="POST" action="{% url 'bookmark_app.series_bookmark' id=series.id current_season=current_season.season current_episode=current_episode.episode resolution=series_resource.resolution %}">
                            {% csrf_token %}
                            <button class="bookmark_button" type="submit"> 
                                <svg class="bookmarked" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#ffffff"><path d="M200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Zm80-122 200-86 200 86v-518H280v518Zm0-518h400-400Z"/></svg> 
                            </button>
                        </form>
                    {% else %}
                        <form method="POST" action="{% url 'bookmark_app.series_bookmark' id=series.id current_season=current_season.season current_episode=current_episode.episode resolution=series_resource.resolution %}">
                            {% csrf_token %}
                            <button class="bookmark_button" type="submit"> 
                                <svg class="not-bookmarked" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#ffffff"><path d="M200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Zm80-122 200-86 200 86v-518H280v518Zm0-518h400-400Z"/></svg> 
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
            <div>
                <p> {{series.description}} </p>
            </div>
            <div class="grid-wrapper">
                <div> <p> Release Date : </p> </div>
                <div> <p> {{series.releaseDate}} </p> </div>
                <div> <p> Genre : </p> </div>
                <div> <p> 
                    {% for genre in genres %} 
                        <a href="{% url 'search_app.search' content_type='series' search_type='genre' search=genre.name %}"> {{genre.name}} </a>
                    {% endfor %} 
                </p> </div>
                
                <div> <p> Production : </p> </div>
                {% if productions %}
                    <div> <p> 
                        {% for production in productions %} 
                            <a href="{% url 'search_app.search' content_type='series' search_type='production' search=production.name %}"> {{production.name}} </a>
                        {% endfor %} 
                    </p> </div>
                {% else %}
                    <div> <p> N/A </p> </div>
                {% endif %}
                
                <div> <p> Director : </p> </div>
                {% if directors %}
                    <div> <p> 
                        {% for director in directors %} 
                            <a href="{% url 'search_app.search' content_type='series' search_type='director' search=director.name %}"> {{director.name}} </a>
                        {% endfor %} 
                    </p> </div>                
                {% else %}
                    <div> <p> N/A </p> </div>
                {% endif %}
                
                <div> <p> Cast : </p> </div>
                {% if casts %}
                    <div> <p> 
                        {% for cast in casts %} 
                            <a href="{% url 'search_app.search' content_type='series' search_type='cast' search=cast.name %}"> {{cast.name}} </a>
                        {% endfor %} 
                    </p> </div>                
                {% else %}
                    <div> <p> N/A </p> </div>
                {% endif %}
                
                <div> <p> Country : </p> </div>
                <div> <p> 
                    {% for country in countries %} 
                        <a href="{% url 'search_app.search' content_type='series' search_type='country' search=country.name %}"> {{country.name}} </a>
                    {% endfor %} 
                </p> </div>

                <div> <p> Rating : </p> </div>
                <div> <p> <a href="{% url 'search_app.search' content_type='series' search_type='rating' search=series.rating %}"> {{series.rating}} </a> </p> </div>
            </div>
        </div>
    </div>
    {% include 'comment.html' %}
{% endblock %} 
