{% extends 'base_page.html' %}

{% load static %}

{% block title %} <title> MovWave | Create Series </title> {% endblock %}
{% block head %} 
    <link rel="stylesheet" href="{% static 'css/movie_form.css' %}">
{% endblock %}

{% block content %} 
    <form id="form" class="form" method="POST" enctype="multipart/form-data" action="{% url 'series_app.series_create' %}">
        {% csrf_token %}
        <div class="grid-wrapper">
            <div class="cell"> {{form.title.label}} : </div> 
            <div class="cell"> {{form.title}} </div>
            <div class="cell"> {{form.releaseDate.label}} : </div> 
            <div class="cell"> {{form.releaseDate}} </div>
            <div class="cell"> {{form.poster.label}} : </div> 
            <div class="cell"> {{form.poster}} </div>
            <div class="cell"> {{form.description.label}} : </div> 
            <div class="cell"> {{form.description}} </div>
            <div class="cell"> {{form.genre.label}} : </div> 
            <div class="cell"> {{form.genre}} </div>
            <div class="cell"> {{form.rating.label}} : </div> 
            <div class="cell"> {{form.rating}} </div>
            <div class="cell"> {{form.country.label}} : </div> 
            <div class="cell"> {{form.country}} </div>
            <div class="cell"> {{form.production.label}} : </div> 
            <div class="cell-multiinput"> 
                {{form.production}} 
                {{form.coproduction1}}
                {{form.coproduction2}}
            </div>
            <div class="cell"> {{form.director.label}} : </div>
            <div class="cell-multiinput"> 
                {{form.director}} 
                {{form.codirector}}
            </div>
            <div class="cell"> {{form.cast.label}} : </div>
            <div class="cell-multiinput"> 
                {{form.cast}} 
                {{form.cocast1}}
                {{form.cocast2}}
            </div>
        </div>
        <div class="button-wrapper">
            <button id="button" type="submit"> Create Movie </button>
        </div>
        <datalist id="production-list">
            {% for production in productions %}
                <option value="{{production}}">
            {% endfor %}
        </datalist>
        <datalist id="director-list">
            {% for director in directors %}
                <option value="{{director}}">
            {% endfor %}
        </datalist>
        <datalist id="cast-list">
            {% for cast in casts %}
                <option value="{{cast}}">
            {% endfor %}
        </datalist>
    </form>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
    {{form.errors}}
{% endblock %} 