
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
    background-color: #000000;
    
    padding: 10px;
    min-height: 80px;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal-icon {
    position: relative;
}

.modal-icon svg {
    cursor: pointer;
}

.modal-icon svg:hover {
    fill: #ffff00; 
}

.modal {
    background-color: #000000;
    color: #ffffff;

    position: absolute;
    top: 100%;
    z-index: 3;

    padding: 20px;

    display: grid;
    grid-template-rows: repeat(auto,1fr);
    row-gap: 20px;

    border: solid 1px white;
    border-radius: 10%;
    visibility: hidden;
}

.modal div {
    width: 100%;
}

.modal a {
    color: #ffffff;
    text-decoration: none;

    width: 100%;
    padding: 5px;

    border-radius: 5px;

    display: block;
    cursor: pointer;
}

.modal a:hover {
    color: #ffff00;
}

.modalChild {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;

    position: absolute;
    top: 100%;
    left: 300%;
    z-index: 3;

    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    border: solid 1px white;
    border-radius: 10px;
    visibility: hidden;
}

.modalChild div {
    width: 100%;
}

.modalChild a {
    color: #ffffff;
    text-decoration: none;

    width: 100%;
    padding: 5px;

    border-radius: 5px;

    display: block;
    cursor: pointer;
}

.modalChild a:hover {
    color: #ffff00;
}

.show-modal {
    visibility: visible;
}

.search-bar {
    position: relative;
    width: 40%;
}

.search-bar-input {
    background-color: #2d2d2d;
    color: #ffffff;

    width: 100%;
    min-height: 40px;
    height: auto;

    border: none;
    border-radius: 25px;
    outline: none;

    text-align: center;
}

.search-bar-button {
    background: none;

    position: absolute;
    right: 0;
    top: 20%;
    transform: translate(-20%);

    border: 0px;
    outline: 0px;

    cursor: pointer;
}

.search-bar-button svg:hover {
    fill: #ffff00;
}

.login {
    background-color: #000000;
    color: #ffffff;

    font-size: 16px;
    text-decoration: none;

    width: fit-content;

    padding: 5px 10px;
    margin-right: 20px;

    border: solid 2px #ffffff;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.login:hover {
    color: #ffff00;
    border: solid 2px #ffff00;
}

.login:hover svg {
    fill: #ffff00;
}

.profile {
    margin-right: 20px;
}

.profile svg {
    cursor: pointer;
}

.login svg {
    margin-left: 5px;
}

.login:hover, .profile svg:hover {
    fill: #ffff00;
}