
.card-wrapper {
    width: auto;
    margin: 50px auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-holder {
    cursor: pointer;
}

.card-outer {
    background-color: #f5f5f5;
    color: black;

    position: relative;

    width: 250px;
    height: 250px;

    border-radius: 5px;
    overflow: hidden;

    box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.card-inner {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 95%;
    height: 95%;

    overflow: hidden;
}

.image {
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit: fill;
    
    transition: all 0.5s;

    z-index: 2;
} 

.cast-name {
    position: absolute;
    bottom: 10px;

    width: 100%;

    z-index: 1;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-holder:hover .image {
    transform: translateY(-50px);
    transition: all 0.5s;
}

.bg-card {
    background-color: #f5f5f5;
    color: black;

    position: absolute;

    width: 250px;
    height: 250px;

    border-radius: 5px;
    transition: all 0.5s;

    box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.card-holder:hover .bg-card-1 {
    transform: rotate(20deg);
    transition: all 0.5s;
}

.card-holder:hover .bg-card-2 {
    transform: rotate(10deg);
    transition: all 0.5s;
}

