{% load static %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}

{% if user.is_authenticated %}
<div class="editModal" id="editModal">
    <button class="goback-button" onclick="uncallEditText()"> <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#ffffff"><path d="m330-444 201 201-51 51-288-288 288-288 51 51-201 201h438v72H330Z"/></svg> </button>
    <form class="modalForm" id="editForm" method="POST" action=" {% url 'comment_app.edit_comment' %}">
    {% csrf_token %}
        <h2> Edit Comment </h2>
        {{edit_form.commentText}}
        <div> <small id="counter2"></small> </div>
        <button class="comment-button" type="submit"> Confirm </button>
        {{edit_form.commentId}}
    </form>
</div>
{% endif %}

<div class="comment-wrapper">
    <div> <h2> Comments : </h2> </div>
    {% if user.is_authenticated %}
    {% if content_type == 'movies' %}
    <form class="form" id="createForm" method="POST" action="{% url 'comment_app.create_comment' content_type='movies' id=movie.id %}">
    {% elif content_type == 'series' %}
    <form class="form" id="createForm" method="POST" action="{% url 'comment_app.create_comment' content_type='series' id=series.id season=current_season.season episode=current_episode.episode %}">
    {% endif %}
        {% csrf_token %}
        <div> {{comment_form.commentText}} </div>
        <div> <small id="counter1"></small> </div>
        <button class="comment-button" type="submit"> Add Comment </button>
        <span class="error"> {{comment_form.error}} </span>
        {% if messages %}
            {% for message in messages %}
                <span class="{{message.tags}}"> {{message}} </span>
            {% endfor %}
        {% endif %}
    </form>
    {% else %}
        <div class="login-to-comment"> <a href="{% url 'auth_app.auth_login' %}"> <h2> Login to comment </h2> </a> </div>
    {% endif %}
    <div class="comments" id="comments">
        <div class="load-comments">
            {% if content_type == 'movies' %}
            <a class="loader" id="loader" href="{% url 'comment_app.load_comment' content_type='movies' id=movie.id %}"> Load More Comments </a>
            {% elif content_type == 'series' %}
            <a class="loader" id="loader" href="{% url 'comment_app.load_comment' content_type='series' id=series.id episode=current_episode.episode season=current_season.season %}"> Load More Comments </a>
            {% endif %}
        </div>
    </div>
</div>

{% block script %}
    {% if user.is_authenticated %}
    {{ request.user.id|json_script:"user_id" }}
    {% endif %}
    <script src="{% static 'javascript/confirmation.js' %}" defer > </script>
    <script src="{% static 'javascript/comment_loader.js' %}" defer > </script>
    {% if user.is_authenticated %}
    <script src="{% static 'javascript/form_handler.js' %}" defer > </script>
    <script src="{% static 'javascript/textcount_handler.js' %}" defer > </script>
    {% endif %}
{% endblock %}



<!--
{% for comment in comments %}
    <div class="comment"> 
        <p class="green"> {{comment.user.username}} : </p>
        <p> {{comment.commentText}} </p>
        <p class="green"> [ {{comment.addedDateTime}} ] </p>
        {% if comment.user.id == user.id %}
            <form class="comment-operation deleteForm" action="{% url 'comment_app.delete_comment' comment_id=comment.id %}" method="POST">
            {% csrf_token %}
                <button id="delete" class="delete" onclick="return confirm('Are you sure you want to do this ?')"> <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#ffffff"><path d="M312-144q-29.7 0-50.85-21.15Q240-186.3 240-216v-480h-48v-72h192v-48h192v48h192v72h-48v479.57Q720-186 698.85-165T648-144H312Zm336-552H312v480h336v-480ZM384-288h72v-336h-72v336Zm120 0h72v-336h-72v336ZM312-696v480-480Z"/></svg>  </button>
            </form>
            <a class="edit" onclick="callEditText('{{ comment.commentText|escapejs }}'); setCommentId('{{ comment.id }}')"> 
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#ffffff"><path d="M216-216h51l375-375-51-51-375 375v51Zm-72 72v-153l498-498q11-11 23.84-16 12.83-5 27-5 14.16 0 27.16 5t24 16l51 51q11 11 16 24t5 26.54q0 14.45-5.02 27.54T795-642L297-144H144Zm600-549-51-51 51 51Zm-127.95 76.95L591-642l51 51-25.95-25.05Z"/></svg> 
            </a>
        {% endif %}
    </div>
{% endfor %}
-->