{% extends 'base_page.html' %}

{% load static %}

{% block title %} <title> MovWave | Bookmarks </title> {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %} 
    <div class="content-wrapper">
        <div>
            <h1> Bookmarked Movies </h1>
        </div>
        <div class="grid-wrapper">
            {% for movie in movie_bookmarks %}
                <a class="cell" href="{% url 'movie_app.movie' id=movie.content_object.id %}">
                    <img src="{{movie.content_object.poster}}">
                    <p> {{movie.content_object.title}} </p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %} 
