<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> MovWave - Watch Free Movies </title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <body>
        <div class="blackoverlay"> </div>
        <div class="index"> 
            <img class="index-logo" src="{% static 'images/movwave-logo.png' %}" alt="movwave-logo">
            <h1> Watch Movies Online For Free! </h1>
            <form class="search-bar" action="{% url 'search_app.search_bar' %}" method="POST">
                {% csrf_token %}
                <input class="search-bar-input" type="text" placeholder="Search . . .">
                <button class="search-bar-button" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
                </button>
            </form>
            <!-- <p> Top Searches </p> -->
            <a class="homepage" href="{% url 'home' %}">
                Go to Homepage <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
            </a>
            <div class="about-movwave">
                <p> Welcome to MovWave.net, the ultimate destination for movie lovers! Get ready to unlock a world of cinematic wonders with our extensive database and a host of exciting features. With an unparalleled collection of films spanning genres, eras, and languages, MovWave ensures there's something for every taste and mood. </p>
                <p> At MovWave.net, we understand the diverse preferences of our viewers, and that's why we have meticulously curated a library that caters to all cinematic cravings. Whether you're a fan of action-packed blockbusters, heartwarming romances, mind-bending sci-fi, gripping thrillers, or critically acclaimed indie films, our vast collection guarantees endless entertainment. </p>
                <p> At MovWave.net, we’re committed to delivering a top-notch viewing experience. Our high-definition streaming ensures that you enjoy every film with stunning visual clarity and crisp audio. Thanks to our adaptive streaming technology, you’ll experience smooth, uninterrupted playback as our system adjusts to your internet connection, bringing the theater experience directly to your home. </p>
                <p> Convenience is at the heart of MovWave.net. Our platform is designed to be compatible with a wide range of devices, including laptops, tablets, and smartphones. This means you can enjoy your favorite movies whether you're relaxing at home or on the go. MovWave.net ensures that you stay connected to your cinematic passions no matter where life takes you. </p>
                <p> MovWave.net also fosters a vibrant community of movie lovers. Engage in lively discussions, share your thoughts on the latest films, and connect with other cinephiles through our dedicated forums and social features. Our community is a place to exchange recommendations, delve deeper into the world of cinema, and share your enthusiasm with like-minded individuals. </p>
                <p> To help you navigate your viewing choices, we provide clear explanations of movie ratings: </p>
                <ul>
                    <li> <span> G (General Audience): </span> Films rated G are suitable for viewers of all ages. These movies are family-friendly and contain no content that would be considered inappropriate for children. They are designed to be enjoyable for everyone, making them perfect for a family movie night. </li>
                    <li> <span> PG (Parental Guidance): </span> Movies with a PG rating may contain some material that parents might find unsuitable for younger children. While these films are generally appropriate for children, they might include mild language, brief nudity, or moderate action. Parental guidance is recommended to ensure the content aligns with your family’s values. </li>
                    <li> <span> PG-13 (Parents Strongly Cautioned): </span> This rating suggests that some material may be inappropriate for children under 13. PG-13 films may contain more intense themes, stronger language, or extended violence. Parents are strongly cautioned to provide appropriate guidance for younger viewers. </li>
                    <li> <span> R (Restricted): </span> Films rated R are restricted to viewers over the age of 17 or 18. These movies may include explicit language, strong sexual content, or intense violence. Viewer discretion is advised, and parental guidance is not sufficient for younger audiences. </li>
                    <li> <span> NC-17 (No One 17 and Under Admitted): </span> The NC-17 rating is reserved for movies with explicit content that is only suitable for adults. These films may contain graphic sexual content or other adult themes, and no one under the age of 17 is admitted. This rating ensures that viewers are fully aware of the mature nature of the content. </li>
                </ul>
                <p> In summary, FlickStream.net is your ultimate online movie streaming destination, offering a vast and varied movie library, personalized recommendations, high-quality streaming, and device compatibility. Join us and experience the world of cinema like never before. Welcome to FlickStream.net, where movies truly come to life. </p>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>