<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %} {% endblock %}
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/base_page.css' %}">
        {% block head %} {% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar">
            <div class="modal-icon">
                <svg id="modalButton" xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#ffffff"><path d="M120-240v-66.67h720V-240H120Zm0-206.67v-66.66h720v66.66H120Zm0-206.66V-720h720v66.67H120Z"/></svg>     
                <div class="modal" id="modal">
                    <a id="homeModal" href="{% url 'home' %}"> Home </a>
                    <a id="genreModal"> Genre </a>
                    <a id="countryModal"> Country </a>
                </div>
                <div class="modalChild" id="modalChild"> </div>
            </div>
            <form class="search-bar" method="GET" action="{% url 'search_app.search_bar' %}">
                {% csrf_token %}
                <input class="search-bar-input" name="input_value" type="text" placeholder="Search . . .">
                <button class="search-bar-button" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
                </button> 
            </form>
            {% if user.is_authenticated %}
                <div style="display: flex; align-items: center; justify-content: center;">
                    {% if user.is_superuser %}
                        <div>
                            <a title='Add or Update Cast' class="profile" href="{% url 'cast_create' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#ffffff"><path d="M480-285q61.46 0 105.23-41T633-428H326q5 61 48.77 102T480-285ZM285-603h142q0-29-20.8-50-20.79-21-50-21-29.2 0-50.2 20.86-21 20.85-21 50.14Zm247 0h143q0-29-20.86-50-20.85-21-50.14-21-29.7 0-50.85 20.86Q532-632.29 532-603ZM480-80q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T120-439v-441h720v441q0 74-28.5 139.5t-77 114q-48.5 48.5-114 77T480-80Zm0-60q125 0 212.5-87T780-439v-381H180v381q0 125 87.5 212T480-140Zm0-340Z"/></svg>                            
                            </a>
                        </div>
                        <div>
                            <a title='Add new Movie' class="profile" href="{% url 'movie_app.movie_create' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#ffffff"><path d="m140-800 74 152h130l-74-152h89l74 152h130l-74-152h89l74 152h130l-74-152h112q24 0 42 18t18 42v520q0 24-18 42t-42 18H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18Zm0 212v368h680v-368H140Zm0 0v368-368Z"/></svg>
                            </a>
                        </div>
                        <div>
                            <a title='Add new Series' class="profile" href="{% url 'series_app.series_create' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#ffffff"><path d="M330-120v-80H140q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H630v80H330ZM140-260h680v-520H140v520Zm0 0v-520 520Z"/></svg>
                            </a>
                        </div>
                    {% endif %}
                    <div>
                        <a title='Bookmarks' class="profile" href="{% url 'bookmark_app.bookmarks' content_type='movies' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#ffffff"><path d="M200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Zm80-122 200-86 200 86v-518H280v518Zm0-518h400-400Z"/></svg>
                        </a>
                    </div>
                    <div>
                        <a title='Your Profile' class="profile" href="{% url 'auth_app.auth_profile' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#ffffff"><path d="M222-255q63-44 125-67.5T480-346q71 0 133.5 23.5T739-255q44-54 62.5-109T820-480q0-145-97.5-242.5T480-820q-145 0-242.5 97.5T140-480q0 61 19 116t63 109Zm257.81-195q-57.81 0-97.31-39.69-39.5-39.68-39.5-97.5 0-57.81 39.69-97.31 39.68-39.5 97.5-39.5 57.81 0 97.31 39.69 39.5 39.68 39.5 97.5 0 57.81-39.69 97.31-39.68 39.5-97.5 39.5Zm.66 370Q398-80 325-111.5t-127.5-86q-54.5-54.5-86-127.27Q80-397.53 80-480.27 80-563 111.5-635.5q31.5-72.5 86-127t127.27-86q72.76-31.5 155.5-31.5 82.73 0 155.23 31.5 72.5 31.5 127 86t86 127.03q31.5 72.53 31.5 155T848.5-325q-31.5 73-86 127.5t-127.03 86Q562.94-80 480.47-80Zm-.47-60q55 0 107.5-16T691-212q-51-36-104-55t-107-19q-54 0-107 19t-104 55q51 40 103.5 56T480-140Zm0-370q34 0 55.5-21.5T557-587q0-34-21.5-55.5T480-664q-34 0-55.5 21.5T403-587q0 34 21.5 55.5T480-510Zm0-77Zm0 374Z"/></svg>
                        </a>
                    </div>
                </div>
            {% else %}
                <a class="login" href="{% url 'auth_app.auth_login' %}">
                    Login <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                </a>
            {% endif %}
        </nav>
        {% block content %}
        {% endblock %}
        {% block script %}
        {% endblock %}
        <script src="{% static 'javascript/modal_script.js' %}" defer > </script>
    </body>
</html>