{% extends 'base_auth_form.html' %}

{% load static %}

{% block title %} <title> MovWave | Password Change </title> {% endblock %}

{% block content %} 
    <div class="blackoverlay"></div>
    <form class="form" method="POST" action="{% url 'auth_app.auth_passwordChange' %}">
        {% csrf_token %}
        <div class="header">
            <h2> Password Change </h2>
        </div>
        <div class="grid-wrapper">
            <div> {{form.old_password.label}} </div>
            <div> {{form.old_password}} </div>
        </div>
        <div class="grid-wrapper">
            <div> {{form.new_password1.label}} </div>
            <div> {{form.new_password1}} </div>
        </div>
        <div class="grid-wrapper">
            <div> {{form.new_password2.label}} </div>
            <div> {{form.new_password2}} </div>
        </div>
        <button class="button" type="submit"> Confirm </button>
        {% for message in messages %}
            {{message}}
        {% endfor %}
        {{form.errors}}
    </form>
{% endblock %} 
