
body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
      
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    width: 100vw;
    min-height: 100vh;
    height: auto;

    overflow-x: hidden;
    overflow-y: scroll;
}

.form {
    background-color: #ffff;

    position: relative;

    width: 50vw;
    height: auto;

    margin: 40px auto;
    padding: 20px;

    border-radius: 25px;
}

.form input, .form textarea {
    padding: 10px;
    font-size: 14px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.cell {
    margin: 10px auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper {
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper button {
    padding: 10px;

    font-size: 14px;
}

.loading {
    background-color: #ffffff;

    position: relative;

    margin: 20px auto;

    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.loading img {
    width: 50%;
    height: auto; /* maintain aspect ratio */
}

#id_movie {
    display: none;
    pointer-events: none;
}