{% extends 'base_page.html' %}

{% load static %}

{% block title %} <title> MovWave | Create Movie </title> {% endblock %}
{% block head %} 
    <link rel="stylesheet" href="{% static 'css/movie_form.css' %}">
{% endblock %}

{% block content %} 
    <form id="form" class="form" method="POST" enctype="multipart/form-data" action="{% url 'movie_app.movie_create' %}">
        {% csrf_token %}
        <div class="grid-wrapper">
            <div class="cell">
                <div class="cell-title"> {{form.title.label}} : </div>
                <div class="cell-input"> {{form.title}} </div>
            </div>
            <div class="cell">
                <div class="cell-title"> {{form.releaseDate.label}} : </div>
                <div class="cell-input"> {{form.releaseDate}} </div>
            </div>
            <div class="cell">
                <div class="cell-title"> {{form.poster.label}} :</div>
                <div class="cell-input"> {{form.poster}} </div>
            </div>
            <div class="cell">
                <div class="cell-title"> {{form.rating.label}} : </div>
                <div class="cell-input"> {{form.rating}} </div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-title"> {{form.description.label}} : </div> 
            <div class="cell-input"> {{form.description}} </div>
        </div>
        <div class="cell"> 
            <div class="cell-title"> {{form.genre.label}} : </div>
            <div class="checkbox-cell"> 
                {% for checkbox in form.genre %}
                    <div> {{ checkbox.tag }} {{ checkbox.choice_label }} </div>
                {% endfor %}    
            </div>
       </div>
       <div class="cell"> 
            <div class="cell-title"> {{form.country.label}} : </div>
                <div class="checkbox-cell"> 
                    {% for checkbox in form.country %}
                        <div> {{ checkbox.tag }} {{ checkbox.choice_label }} </div>
                    {% endfor %}    
                </div>
            </div>
        </div>
        <div class="grid-wrapper-2">
            <div class="cell"> 
                <div class="cell-title"> {{form.cast.label}} : </div>
                <div class="cell-multiinput"> 
                    {{form.cast}} 
                    {{form.cocast1}}
                    {{form.cocast2}}   
                </div>
            </div>
            <div class="cell"> 
                <div class="cell-title"> {{form.director.label}} : </div>
                <div class="cell-multiinput"> 
                    {{form.director}} 
                    {{form.codirector}} 
                </div>
            </div>
            <div class="cell"> 
                <div class="cell-title"> {{form.production.label}} : </div>
                <div class="cell-multiinput"> 
                    {{form.production}} 
                    {{form.coproduction1}}
                    {{form.coproduction2}}   
                </div>
            </div>
        </div>
        <div class="button-wrapper">
            <button id="button" type="submit"> Create Movie </button>
        </div>
        <datalist id="production-list">
            {% for production in productions %}
                <option value="{{production}}">
            {% endfor %}
        </datalist>
        <datalist id="director-list">
            {% for director in directors %}
                <option value="{{director}}">
            {% endfor %}
        </datalist>
        <datalist id="cast-list">
            {% for cast in casts %}
                <option value="{{cast}}">
            {% endfor %}
        </datalist>
    </form>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
    {{form.errors}}
{% endblock %} 