{% extends 'base_page.html' %}

{% load static %}

{% block title %} <title> MovWave | {{movie.title}} </title> {% endblock %}
{% block head %} 
    <link rel="stylesheet" href="{% static 'css/movie.css' %}">
{% endblock %}

{% block content %} 
    <div class="blackoverlay"></div>
    <div class="video-wrapper">
        <video class="video-player" id="video-player" controls muted="muted">                
            <source src="{% url 'movie_app.movie_stream' source=movie_resource.source %}" type="video/mp4" />
        </video>
    </div>
    <div class="button-wrapper">
        <div>
            <a class="download-button" href="{% url 'movie_app.movie_download' source=movie_resource.source %}"> Download </a>
            {% if user.is_superuser %}
            <a class="upload-button" href="{% url 'movie_app.movie_upload' id=movie.id %}"> Upload </a>
            {% endif %}
        </div>
        <div>
        {% for item in resolutions %}
            {% if item.resolution == movie_resource.resolution%}
                <a class="current-resolution-button" href="{% url 'movie_app.movie' id=movie.id resolution=item.resolution %}"> {{item.resolution}} </a>
            {% else %}
                <a class="available-resolution-button" href="{% url 'movie_app.movie' id=movie.id resolution=item.resolution %}"> {{item.resolution}} </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="metadata-wrapper">
        <div class="poster-wrapper">
            <img src="{{movie.poster}}">
        </div>
        <div class="description-wrapper">
            <div class="header-wrapper">
                <h1> {{movie.title}} ({{movie.releaseDate.year}}) </h1>
                {% if user.is_authenticated %}
                    {% if bookmarked %}
                        <form id="bookmarkForm" method="POST" action="{% url 'bookmark_app.bookmark' content_type='movies' id=movie_resource.movie.id %}">
                            {% csrf_token %}
                            <button title="Remove from Bookmarks" class="bookmark_button" type="submit"> 
                                <svg class="bookmarked" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#ffffff"><path d="M200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Zm80-122 200-86 200 86v-518H280v518Zm0-518h400-400Z"/></svg> 
                            </button>
                        </form>
                    {% else %}
                        <form id="bookmarkForm" method="POST" action="{% url 'bookmark_app.bookmark' content_type='movies' id=movie_resource.movie.id %}">
                            {% csrf_token %}
                            <button  title="Add to Bookmarks" class="bookmark_button" type="submit"> 
                                <svg class="not-bookmarked" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#ffffff"><path d="M200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Zm80-122 200-86 200 86v-518H280v518Zm0-518h400-400Z"/></svg> 
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
            <div>
                <p> {{movie.description}} </p>
            </div>
            <div class="grid-wrapper">
                <div> <p> Release Date : </p> </div>
                <div> <p> {{movie.releaseDate}} </p> </div>
                <div> <p> Genre : </p> </div>
                <div> <p> 
                    {% for genre in genres %} 
                        <a href="{% url 'search_app.search' search_type='genre' search=genre.name %}"> {{genre.name}} </a>
                    {% endfor %} 
                </p> </div>
                
                <div> <p> Production : </p> </div>
                {% if productions %}
                    <div> <p> 
                        {% for production in productions %} 
                            <a href="{% url 'search_app.search' search_type='production' search=production.name %}"> {{production.name}} </a>
                        {% endfor %} 
                    </p> </div>
                {% else %}
                    <div> <p> N/A </p> </div>
                {% endif %}
                
                <div> <p> Director : </p> </div>
                {% if directors %}
                    <div> <p> 
                        {% for director in directors %} 
                            <a href="{% url 'search_app.search' search_type='director' search=director.name %}"> {{director.name}} </a>
                        {% endfor %} 
                    </p> </div>                
                {% else %}
                    <div> <p> N/A </p> </div>
                {% endif %}
                
                <div> <p> Cast : </p> </div>
                {% if casts %}
                    <div> <p> 
                        {% for cast in casts %} 
                            <a href="{% url 'search_app.search' search_type='cast' search=cast.name %}"> {{cast.name}} </a>
                        {% endfor %} 
                    </p> </div>                
                {% else %}
                    <div> <p> N/A </p> </div>
                {% endif %}
                
                <div> <p> Country : </p> </div>
                <div> <p> 
                    {% for country in countries %} 
                        <a href="{% url 'search_app.search' search_type='country' search=country.name %}"> {{country.name}} </a>
                    {% endfor %} 
                </p> </div>

                <div> <p> Rating : </p> </div>
                <div> <p> <a href="{% url 'search_app.search' search_type='rating' search=movie.rating %}"> {{movie.rating}} </a> </p> </div>
            </div>
        </div>
    </div>
    <!-- Include Comment Partial -->
    {% include 'comment.html' %}
{% endblock %} 
{% block script %}
    {% if user.is_authenticated %}
    <script src="{% static 'javascript/bookmarkForm_handler.js' %}" defer > </script>
    {% endif %}
{% endblock %}
