{% extends 'base_page.html' %}

{% load static %}

{% block title %} <title> MovWave | Search </title> {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %} 
    <div class="content-wrapper">
        <div class="header-wrapper">
            <h1> {{search|capfirst}} {{content_type|capfirst}} </h1>
            <div class="contentType-wrapper">
                {% if not searchTypeInvalidForMovie %}
                {% if content_type == 'movies' %}
                    <a class="contentType-button current-contentType" href="{% url 'search_app.search' content_type='movies' search_type=search_type search=search %}"> Movies </a>
                {% else %}
                    <a class="contentType-button" href="{% url 'search_app.search' content_type='movies' search_type=search_type search=search %}"> Movies </a>
                {% endif %}
                {% endif %}

                {% if content_type == 'series' %}
                    <a class="contentType-button current-contentType" href="{% url 'search_app.search' content_type='series' search_type=search_type search=search %}"> Series </a>
                {% else %}
                    <a class="contentType-button" href="{% url 'search_app.search' content_type='series' search_type=search_type search=search %}"> Series </a>
                {% endif %}
            </div>
        </div>
        <div class="grid-wrapper">
            {% for content in page_obj %}
                {% if content_type == 'movies' %}
                <a class="cell" href="{% url 'movie_app.movie' id=content.id %}">
                {% elif content_type == 'series' %}
                <a class="cell" href="{% url 'series_app.series' id=content.id %}">
                {% endif %}
                    <div class="poster">
                        <img src="{{content.poster}}">
                    </div>
                    <div class="title">
                        <p> {{content.title}} </p>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="step-link" href="?page=1">&laquo; first</a>
                    <a class="step-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
        
                {% if page_obj.has_next %}
                    <a class="step-link" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class="step-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %} 
